
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Prompt:wght@400;500;700&display=swap');

body {
    margin: 0px;
}

.top-menu {
   width: 100%;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   z-index: 1;
   position: fixed;
   padding-left: 48px;
   padding-right: 120px;
   }

.left-side {
    display: flex; 
    align-items: center;
}

.left-side__logo {
   font-size: 34px;
   font-family: 'Prompt';
   font-weight: 400;
   color: #3B00DD;
   margin-right: 55px;
   color: rgba(59, 0, 221, 1);
   text-transform: uppercase;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .menu-list {
   display: flex;
   list-style-type: none; 
   font-family: 'Comfortaa';
   font-weight: 700;
   letter-spacing: 0.15px;
   opacity: 0.87;    
 }

 .menu-list__item {
   margin-right: 24px;
 }

 .menu-list__link {
   text-decoration: none;
   color: #000000;
 }

 .right-side {
   display: flex;
   align-items: center;
 }

 .social-icons__link {
   text-decoration: none;
   margin-right: 22px;
 }

 .social-icons__link--blue {
   text-decoration: none;
   margin-right: 22px;
}

 .header-main {
   width: 100%;
   height: 800px;;
   display: flex;
   background-color: white; 
   z-index: 2;
 }

.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 120px;
   width: 100%;
   box-sizing: border-box;
}

.header-info {
   display: flex;
   flex-direction: column;
   margin-right: 36.5px;
}

.header-info__title {
   font-family: 'Comfortaa';
   font-weight: 700;
   font-size: 56px;
   letter-spacing: -0.5px;
   opacity: 0.6;
   color: #000000;
   margin-bottom: 42px;
   width: 755px;
   height: 228px;
}

.header-info__text {
   font-family: 'Roboto';
   font-weight: normal;
   font-size: 24px;
   font-variant: normal;
   color: rgba(0, 0, 0, 0.87);
   width: 486px;
   height: 112px;
   margin-bottom: 77px;
}

.header-info__link {
   display: flex;
   align-items: center;
   text-decoration: none;
   box-sizing: border-box;
   width: 180px;
   border: solid 1px;
   font-family: 'Roboto';
   color: rgba(255, 255, 255, 1);
   padding: 17px 40px 16px 30px;
   font-weight: 500;
   font-size: 12px;
   background-color: #3B00DD;
   text-transform: uppercase;
}

.main-wrapper__main-rightside {
   display: flex;
   top: 0;
   right: 0;
   width: 529px;
   position: absolute;
}

.header-image {
   background-image: url(../image/images_optimize/telescope.jpg);
   width: 529px;
   height: 800px;
   position: relative;
}

  .image__text {
   position: absolute;
   bottom: 165.5px;
   right: 123px;
   color: white;
   writing-mode: vertical-rl;
}

  .image__text svg {
   margin-top: 20px;
}

.social-icons__link path {
   fill: rgba(0,0,0,0.4);
}

.section-studio-smart {
   width: 100%;
   background-color: #F5F5F5;
   box-sizing: border-box;
   padding-left: 120px;
   padding-right: 120px;
   padding-bottom: 109.8px;
}

.studio-smart-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

 .studio__image {
   width: 588px;
   height: 403.5px;
   padding-top: 189px;
   margin-bottom: 72.5px;
 }

 .studio__image::before {
   content: " ";
   width: 78px;
   height: 3.66px;
   border-color: #3B00DD;
   margin-bottom: 58.34px;
 }

.studio__header {
   font-family: 'Comfortaa';
   font-weight: 700;
   font-style: normal;
   font-size:  32px;
   line-height: 35.68px;
   text-transform: uppercase;
   line-height: 36px;
   letter-spacing: 0.25px;
   color: rgba(0, 0, 0, 0.87);
}

.studio__text {
   width: 385px;
   height: 209.53px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 166%;
   letter-spacing: 0.25px;
   color: rgba(0, 0, 0, 0.6);
}

.studio__link {
   display: flex;
   align-items: center;
   text-decoration: none;
   box-sizing: border-box;
   width: 180px;
   border: solid 1px;
   font-family: 'Roboto';
   color: rgba(255, 255, 255, 1);
   padding: 17px 40px 16px 30px;
   font-weight: 500;
   font-style: normal;
   line-height: 16px;
   font-size: 12px;
   text-align: center;
   letter-spacing: 1.25px;
   background-color: #3B00DD;
   text-transform: uppercase;
}


.smart__header {
   font-family: 'Comfortaa';
   font-weight: 700;
   font-style: normal;
   font-size:  32px;
   line-height: 35.68px;
   text-transform: uppercase;
   line-height: 36px;
   letter-spacing: 0.25px;
   color: rgba(0, 0, 0, 0.87);
   padding-top: 109.8px;
   margin-left: 126px;
}

.smart__text {
   width: 385px;
   height: 209.53px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 166%;
   letter-spacing: 0.25px;
   color: rgba(0, 0, 0, 0.6);
   margin-left: 126px;
}

.smart__image {
   width: 588px;
   height: 403.5px;
   padding-bottom: 109.8px;
}
.smart__link {
   margin-bottom: 288.81px;
   display: flex;
   align-items: center;
   text-decoration: none;
   box-sizing: border-box;
   width: 180px;
   border: solid 1px;
   font-family: 'Roboto';
   color: rgba(255, 255, 255, 1);
   padding: 17px 40px 16px 30px;
   font-weight: 500;
   font-style: normal;
   line-height: 16px;
   font-size: 12px;
   text-align: center;
   letter-spacing: 1.25px;
   background-color: #3B00DD;
   text-transform: uppercase;
   margin-left: 126px;
}